page-login {
    .loginPage{
        background-image: url('../assets/imgs/fundo.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .login-container {
        border-radius: 10px;
        //width: 80%;
        text-align: center;
     }
     h4 {
         font-family: 'Times New Roman', Times, serif;
     }

     .body{
        background-color: 	rgb(224, 224, 224);
        border-radius: 5px;
    }
     
     .login-logo{
         vertical-align: center;
         text-align: center;
     }
     .login-form{
         opacity: none!important;
     }

     .logout-img {
        align-self: center;
        margin: auto;
        display: block;
        width: 150px;
    }
    
    .circle{
        width: 60%;
        border-radius: 100%;
        margin: 25px auto 0 auto;
    }
}
