<ion-header>
    <ion-navbar color="secondary">
      <ion-title>
        <img src="assets/imgs/logo.png" alt="logo">
      </ion-title>
      <ion-buttons end>
        <button (click)="logout()" ion-button tappable>
          <ion-icon name="person"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="body">
    <ion-navbar color="light" class="body">
        <h5><ion-icon name="paper"></ion-icon> Disciplinas em curso </h5>
        <hr>
        <h6 *ngIf="quantDisciplinas == 0" > <ion-icon name="alert"></ion-icon> Ainda não foram lançadas frequências!</h6>
        <ion-list>
            <button ion-item *ngFor="let item of items" detail="true" (click)="informacoesDisciplina(item)">
              <h4  style="font-size: 17px;"> <b> {{item.ofertaId.curriculoId.disciplinaId.nome}} </b> </h4>
              <h6> <b>Professor(a):</b> {{item.professorId.nome}}</h6>
              <h6 style="text-align: right; color: blue;"> ACESSAR</h6>
            </button>
        </ion-list>
    </ion-navbar>
  </ion-content>

