<ion-header>
    <ion-navbar color="secondary">
      <ion-title>
        <img (click)="home()"  src="assets/imgs/logo.png" alt="logo">
      </ion-title>
      <ion-buttons end>
        <button (click)="logout()" ion-button tappable>
          <ion-icon name="person"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="body">
      <ion-navbar color="light" class="body">
          <hr>
          <h5> {{oferta.ofertaId.curriculoId.disciplinaId.nome}}</h5>
          <h5><ion-icon name="stats"></ion-icon> Registros</h5>
          <hr>
          <h6 *ngIf="quantFrequencia == 0" > <ion-icon name="alert"></ion-icon> Ainda não foram lançadas frequências!</h6>
          <ion-list>
          <ion-item *ngFor="let item of items" >
              <h6> <b>Descrição:</b> {{item.descricao}}</h6>
              <h6>Data: <b> {{item.data.substring(8,10)}}/{{item.data.substring(5,7)}}/{{item.data.substring(0,4)}}</b>  Hora início: <b>{{item.horaInicio}}</b></h6>
              <h6 *ngIf="item.falta == true"  class="red"><b>FALTA</b></h6>
              <h6 *ngIf="item.falta == false"  class="green"><b>PRESENTE</b></h6>
          </ion-item>
          </ion-list>
      </ion-navbar>
  
    
  </ion-content>
