<ion-header>
    <ion-navbar color="secondary">
      <ion-title>
        <img (click)="home()"  src="assets/imgs/logo.png" alt="logo">
      </ion-title>
      <ion-buttons end>
        <button ion-button tappable>
          <ion-icon name="person"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="body">
      <ion-navbar color="light" class="body">
          <hr>
          <h5> {{oferta.ofertaId.curriculoId.disciplinaId.nome}}</h5>
          <h5><ion-icon name="podium"></ion-icon> Registros</h5>
          <hr>
          <ion-list>
          <ion-item *ngFor="let item of items" >
              <h6> <b>Descrição:</b> {{item.descricao}}</h6>
              <h6>Data: <b> {{item.data}}</b>  Hora início: <b>{{item.horaInicio}}</b></h6>
              <ion-item *ngFor="let falta of faltas" >
                <h6 *ngIf="item.id == falta.registroId.id"  class="red"><b>FALTA</b></h6>
                <h6 *ngIf="item.id != falta.registroId.id"  class="green"><b>PRESENTE</b></h6>
              </ion-item>
          </ion-item>
          </ion-list>
      </ion-navbar>
  
    
  </ion-content>
