page-home{
    .body{
        background-color: 	rgb(224, 224, 224);
    }
    
    img {
        align-self: center;
        margin: auto;
        display: block;
    }

    .body {
        border-radius: 5px;
    }

    h5{
        padding: 5px;
    }
    

}

