page-disciplina-professor {
    .body{
        background-color: 	rgb(224, 224, 224);
        border-radius: 5px;
    }
    
    img {
        align-self: center;
        margin: auto;
        display: block;
        width: 150px;
    }

    h5{
        padding: 5px;
        text-align: center;
    }
    h6{
        padding: 5px;
    }

    .direita{
        text-align: center;

    }

}
