<ion-header>
    <ion-navbar color="secondary">
      <ion-title>
        <img (click)="home()"  src="assets/imgs/logop.png" alt="logo">
      </ion-title>
      <ion-buttons end>
        <button (click)="logout()" ion-button tappable>
          <ion-icon name="person"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="body">
      <ion-navbar color="light" class="body">
          <ng-container *ngIf="profOferta != null" >
              <h5><ion-icon name="clipboard"></ion-icon> Relatório de Frequência</h5>
              <hr>
              <h6> Disciplina: {{profOferta.ofertaId.curriculoId.disciplinaId.nome}}</h6>
              <br>
                <p>Selecione um aluno:</p>
                <p *ngIf="quantAlunos == 0" > Essa disciplina não possui alunos matriculados!</p>
                <ion-item>
                    <ion-label>Alunos</ion-label>
                    <ion-select [(ngModel)]="alunoId" cancelText="Cancelar">
                      <ion-option *ngFor="let item of matriculas" [value]="item" > {{item.contratoId.alunoId.nome}}</ion-option>
                    </ion-select>
                </ion-item>
                <button ion-button small (click)="relatorioFrequencia()" color="secondary">ATUALIZAR</button>
              <hr>
          </ng-container>
          
      </ion-navbar>
      <br>
      <ng-container *ngIf="alunoId != null && profOferta != null" >
          <ion-navbar color="light" class="body">
              <h5>Aluno: {{alunoId.contratoId.alunoId.nome}}</h5>
              <hr>
              <p *ngIf="taxaFrequencia == 0"> Ainda não possui faltas para gerar relatório!</p>
              <ion-item *ngIf="taxaFrequencia > 0" >
                  <ion-icon name="stats" item-start></ion-icon>
                  Frequências lançadas:
                  <ion-badge  item-end>{{quantFrequencia}}</ion-badge>
                </ion-item>
              <ion-item *ngIf="taxaFrequencia > 0" >
                <ion-icon name="stats" item-start></ion-icon>
                Porcentagem de Faltas:
                <ion-badge *ngIf="taxaFrequencia >= 25" color="danger" item-end>{{taxaFrequencia.toPrecision(4)}} %</ion-badge>
                <ion-badge *ngIf="taxaFrequencia < 25" color="secondary" item-end>{{taxaFrequencia.toPrecision(4)}} %</ion-badge>
              </ion-item>
              <ion-item *ngIf="taxaFrequencia > 0" >
                  <ion-icon name="thumbs-down" item-start></ion-icon>
                  Número de Faltas:
                  <ion-badge color="danger" item-end>{{numFaltas}}</ion-badge>
              </ion-item>
              <ng-container *ngIf="taxaFrequencia > 0" >
                  <h5><ion-icon name="stats" item-start></ion-icon>
                    Datas e Horários das Faltas </h5>
              <ion-item *ngFor="let item of datasFaltas" >
                <h6 style="text-align: center;"> <ion-icon name="fastforward" item-start></ion-icon> Conteúdo: {{item.registroId.descricao.substring(0,35)}} </h6>
                <h6 style="text-align: center;">{{item.registroId.data.substring(8,10)}}/{{item.registroId.data.substring(5,7)}}/{{item.registroId.data.substring(0,4)}} - De {{item.registroId.horaInicio}} ás {{item.registroId.horaFim}} </h6>
              </ion-item>
            </ng-container>
          </ion-navbar>
      </ng-container>
  </ion-content>
